body {
    width: 75%;
    margin: auto;
    
}

.container {
    text-align: center;
    
}

@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){
    #masthead {
        position: static;
    }

}
